name: delete

on:
  workflow_dispatch:
    inputs:
      stack_path:
        description: 'Stack path to be deleted. Format should be cicd/us-west-2/{}.yml'
        required: true
        default: null


jobs:
  delete:
    if: ${{ github.event.inputs.stack_path != null }}
    runs-on: [ubuntu-latest]
    steps:
      - name: echo
        run: |
          echo "testing the stack_path: ${{ github.event.inputs.stack_path }}"
