name: delete

on:
  workflow_run:
    workflow_dispatch:
      inputs:
        stack_path:
          description: 'stack path to be deleted'
          required: true
          default: null


jobs:
  delete:
    if: ${{ github.event.inputs.event == null }}
    runs-on: [ubuntu-latest]
    steps:
      - name: echo
        run: |
          echo "testing the stack_path: ${{ github.event.inputs.event == null }}"
